---
import { type CollectionEntry, getCollection } from "astro:content";
import { Image } from "astro:assets";
import BaseLayout from "../../layouts/BaseLayout.astro";
import { type StoreSchema } from "../../content/config";
import dayjs from "dayjs";
import localizedFormat from "dayjs/plugin/localizedFormat";
import "dayjs/locale/zh-cn";

export async function getStaticPaths() {
  const itemEntries = await getCollection("store");
  return itemEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

interface Props {
  entry: CollectionEntry<"store">;
}

const { entry } = Astro.props;
const item: StoreSchema = entry.data;
const { Content } = await entry.render();
dayjs.extend(localizedFormat);
dayjs.locale("zh-cn");
const displayDate = dayjs(item.updatedDate).format("LL");
---

<BaseLayout title={item.title} description={item.description} image={item.heroImage}>
  <main class="md:flex md:justify-center">
    <article class="prose prose-lg max-w-[750px] prose-img:mx-auto">
      {
        item.heroImage && (
          <Image width={750} height={422} format="webp" src={item.heroImage} alt={item.title} class="w-full mb-6" />
        )
      }
      <div>
        <h1 class="title my-2 text-4xl font-bold">
          {item.title}
          {item.badge && <div class="badge badge-secondary mx-2">{item.badge}</div>}
        </h1>
        <div class="flex place-content-between items-center">
          <div class="grow md:grow-0">
            <span class="text-xl mr-1"> {item.pricing}</span>
            <span class="text-md opacity-50 line-through">{item.oldPricing}</span>
          </div>
          <div>
            {
              item.custom_link && (
                <a class="btn btn-outline grow md:grow-0 ml-4" href={item.custom_link} target="_blank">
                  {item.custom_link_label}
                </a>
              )
            }
            <a class="btn btn-primary grow md:grow-0 ml-4" href={item.checkoutUrl} target="_blank">
              立即购买
            </a>
          </div>
        </div>
        <div class="mt-2 text-sm opacity-70">
          更新于 <time>{displayDate}</time>
        </div>
      </div>
      <div class="divider my-2"></div>
      <Content />
    </article>
  </main>
</BaseLayout>
